[Unit]
Description=Amp Control
After=post_shairport.service
Wants=post_shairport.service
PartOf=post_shairport.service

[Service]
Type=simple
ExecStart=/home/dietpi/audiobridge/monitor.sh
Restart=always
RestartSec=3
StandardOutput=append:/home/dietpi/audiobridge/logs/monitor.log
StandardError=append:/home/dietpi/audiobridge/logs/monitor.log


[Install]
WantedBy=default.target
