[Unit]
Description=Monitor JACK and restart if unresponsive
After=jackd.service

[Service]
Type=oneshot
ExecStart=/home/dietpi/audiobridge/jack_healthcheck.sh
User=dietpi
Group=audio
WorkingDirectory=/home/dietpi/audiobridge

[Install]
WantedBy=multi-user.target
