[Unit]
Description=Connect Shairport To Jack[Airplay]
After=shairport-sync.service
Wants=shairport-sync.service
PartOf=shairport-sync.service

[Service]
Type=oneshot
ExecStart=/home/dietpi/audiobridge/post_shairport_sync.sh
RemainAfterExit=yes
User=dietpi
Group=audio
WorkingDirectory=/home/dietpi/audiobridge

[Install]
WantedBy=multi-user.target
